@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

/* This is a CSS comment*/

/* Select by element Type*/
body{
    background-color: rgb(199, 219, 236); 
}

p{
    color:rgb(73, 163, 193);
    background-color: aliceblue;
}
h1, h2,h3,h4, h5, h6, p{
    font-family: "Playwrite DE Grund", cursive;
    
}

   
/* Select by CLASS name */


/* Select by ID name (unique) */
#intro{
    background-color:aliceblue;
}

li{
    color:rgb(73, 163, 193);
    
}

/* Properties colors and typography*/
h1{
    font-family: "Edu AU VIC WA NT Guides", cursive;
    color:rgb(73, 163, 193);
    background-color:rgb(230, 238, 245);
    font-weight: 900;
    font-style: italic;
    text-align: center;
    margin: 5%;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(191, 209, 228);
    padding: 7px;
   
}

ol{
    text-align: left;
    background-color: aliceblue;
}
em {
    background-color: aliceblue;
}

.bgd{
    background-color: aliceblue;
}
/* Box Model: margin, border, padding, context */

img{
    border-width: 10px;
    border-style: solid;
    border-color: rgb(168, 203, 233);
    border-radius: 30px;
    border-style: double;
    padding: 5px 5px;
}
hr{
    border-width: 5px;
    border-style: dashed;
    border-color: aliceblue;
}

/* tip: easy way to center anything*/
.centered-container{
    margin:auto;
    text-align: center;
}